<div class="sticky-top">
  <app-navigation></app-navigation>
  <header class="bg-light clearfix">
    <a routerLink="/plus/add" class="btn btn-sm btn-outline-primary float-right">Agregar</a>
  </header>
</div>
<div class="row">
	<div class="col-md-6" *ngFor="let plu of arrPlus">
		<div class="card text-center">
			<div class="card-heder bg-info d-flex justify-content-between align-items-center">
				<span><i class="fab fa-orcid"></i>{{plu.id}}</span>
				<button class="btn btn-danger" (click)="deletePlu(plu.id)">
					<i class="far fa-trash-alt"></i>
				</button>
			</div>
			<div class="card-body">
				{{plu.description}}
				<p>
					{{plu.precio}}
				</p>
				<p>
					{{plu.pesable}}
				</p>
				<p>
					{{plu.vencimiento}}
				</p>
				<a [routerLink]="['/plus/edit/', plu.id]" class="btn btn-info btn-block"> Editar </a>
			</div>
		</div>
	</div>
</div>