<div class="sticky-top">
  <app-navigation></app-navigation>
  <header class="bg-light clearfix">
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar por Nombre" aria-label="Search" name="searchItem" (input)="search()"  [(ngModel)]="searchItem" >
        <!--button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button-->
      </form>
      <a routerLink="/articulo/add" class="btn btn-sm btn-outline-primary float-right">Agregar</a>
      <button class="btn btn-sm btn-outline-primary float-right" (click)="opModal()">Modal</button>
      <button class="btn btn-sm btn-outline-primary float-right" (click)="print()"><i class="fa fa-print" aria-hidden="true"></i></button>
    </nav>
  </header>
</div>
<div class="p-2" *ngFor="let articulo of articuloList;">
  <div class="card mb-1">
    <div class="card-header p-1 d-flex justify-content-between align-items-center">
      <h5>
        <div>{{articulo.name}}</div>
      </h5>
      <div>
        <a class="btn btn-warning" [routerLink]="['/articulo/edit/', articulo._id]"><i class="fa fa-pencil"
            aria-hidden="true"></i></a>
        <button class="btn btn-danger" (click)="delete(articulo._id)"><i class="fa fa-trash"
            aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="row px-1">
        <div class="col-xl-4">
          <div class="d-flex justify-content-left align-items-left flex-wrap pt-0">
            <div class="d-flex justify-content-between align-items-left px-2" style="width: 350px;"
              *ngFor="let vta of articulo.productos;">
              <div >
                <i class="fa fa-balance-scale fa-fw" aria-hidden="true" [hidden]="!vta.pesable" ></i>
                <i class="fa fa-file-o fa-fw" aria-hidden="true" [hidden]="vta.pesable" ></i>
<!--               {{vta.name}} {{vta.contiene}} {{vta.unidad}} -->
                {{vta.parentname}}
              </div>
              <div >
                ${{vta.precio}}
              </div>
              <div >
                ${{vta.reposicion}}
              </div>
              <div >
                ${{vta.compra}}
              </div>
              <div >
                {{vta.stock}}
              </div>
            </div>
          </div>
        </div>
        <!--div class="col-xl-4">
          <div class="pt-0">
            <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
            ertwertetert
          </div>
        </div>
        <div class="col-xl-4">
          <div class="pt-0">
            asdfasfafad
            adfasf asdf asdfadf fadf
          </div>
        </div-->
      </div>
    </div>
  </div>
</div>